.superpowers/
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcuserstate

# SwiftPM
cclight-cli/.build/
cclight-cli/.swiftpm/
cclight-cli/Package.resolved
.gstack/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
